::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fontDark: rgb(99, 99, 99);
$fontHover: rgb(27, 158, 27);
$fontLight: rgb(211, 211, 211);
$menuBackground: rgba(49, 49, 49, 0.856);
$mobileMenuBars: rgb(202, 202, 202);
/* $bodyBackground: rgb(241, 238, 227); */
$bodyBackground: rgb(243, 242, 240);
/* $formBackground: rgb(60, 147, 153); */
$formBackground: rgb(231, 233, 236);

body {
    background-color: $bodyBackground;
    height: 100vh;
    overflow-x: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    transition: 1s ease-in-out;
}

/* ----------- NAVIGATION ----------- */

nav {

    margin: auto;
    width: 50%;
    margin-top: 1rem;
    position: relative;
    z-index: 100;

    ul {
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $fontDark;
    }

    a:hover {
        text-decoration: underline;
        color: $fontDark;
    }
}

.navBtn {
    display: none;
}

@media screen and (max-width: 1205px) {

    .navBtn {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        background-color: rgba(243, 242, 240, 0.096);
        cursor: pointer;
        z-index: 10;

        div {
            width: 40px;
            height: 4px;
            background-color: $mobileMenuBars;
            margin: 0.3rem;
            border-radius: 2px;
            transition: 0.5s ease-in-out;
            z-index: 15;
        }
    }

    nav {

        margin: unset;
        width: unset;
        margin-top: 0;

        ul {
            width: unset;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            right: 0;
            top: 0;
            background-color: $menuBackground;
            width: 300px;
            height: 60%;
            transform: translateY(-100%);
            transition: 0.5s ease-in-out;
        }

        li {
            list-style: none;
            line-height: 4rem;
        }

        a {
            text-decoration: none;
            color: $fontLight;
        }

        a:hover {
            text-decoration: underline;
            color: $fontLight;
        }
    }
}

.navToggle {
    transform: translateY(0);
}

.navBtnColorToggle {
    div {
        background-color: $fontLight;
    }
}

/* ----------- FOOTER ----------- */

footer {
    min-height: 300px;
    width: 100%;
    background-color: rgb(211, 211, 211);
    line-height: 0.5;
}

/* ----------- HOME PAGE ----------- */

.homeFrontImage {
    width: 80%;
    margin: auto;

    img {
        width: 100%;
    }
}

.homeFrontImageBottom {
    width: 80%;
    margin: auto;

    img {
        width: 100%;
    }
}

.homeGalleryContainer {
    width: 80%;

    img {
        width: 100%;
        transition: 1s ease-in-out;
    }

    img:hover {
        filter: contrast(1.5) saturate(1.5) drop-shadow(0px 0px 20px #aa9865);
    }
}

/* ----------- GALLERY PAGE ----------- */

.galleryGrid {

    padding-top: 2rem;
    padding-bottom: 2rem;

    display: grid;
    width: 65%;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    img {
        height: 100%;
        width: 100%;
        transition: 1.5s ease-in-out;
    }

    img:hover {
        transform: scale(1.02);
    }

    a {
        overflow: hidden;
    }
}

.galleryDiv1 { grid-area: 1 / 1 / 3 / 3; }
.galleryDiv2 { grid-area: 1 / 3 / 3 / 5; }
.galleryDiv3 { grid-area: 3 / 1 / 5 / 3; }
.galleryDiv4 { grid-area: 3 / 3 / 5 / 5; }
.galleryDiv5 { grid-area: 1 / 5 / 5 / 7; }
.galleryDiv6 { grid-area: 5 / 1 / 9 / 3; }
.galleryDiv7 { grid-area: 5 / 3 / 7 / 5; }
.galleryDiv8 { grid-area: 7 / 3 / 9 / 5; }
.galleryDiv9 { grid-area: 5 / 5 / 7 / 7; }
.galleryDiv10 { grid-area: 7 / 5 / 9 / 7; }
.galleryDiv11 { grid-area: 9 / 1 / 11 / 3; }
.galleryDiv12 { grid-area: 11 / 1 / 13 / 3; }
.galleryDiv13 { grid-area: 9 / 3 / 11 / 5; }
.galleryDiv14 { grid-area: 11 / 3 / 13 / 5; }
.galleryDiv15 { grid-area: 9 / 5 / 13 / 7; }

@media screen and (max-width: 992px) {

    .galleryGrid {
        width: 95%;
    }

}

/* ----------- TESTIMONIALS PAGE ----------- */

.tesContainer {
    overflow: hidden;
}

.tesText1,
.tesText2,
.tesText3 {
    position: relative;
    height: 100%;
}

.tesText2 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tesText1Background,
.tesText1Background3 {
    position: absolute;
    z-index: -1;
    right: 0;
}

.tesText1Background2 {
    position: absolute;
    z-index: -1;
    left: 0;
}

.tesTextContent1,
.tesTextContent3 {
    width: 70%;
    height: 616px;
    padding: 5rem;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(34, 51, 68, 0));
    color: $fontLight;
    display: flex;

    h1 {
        width: 300px;
        font-family: 'Square Peg', cursive;
    }

    p {
        width: 300px;
    }
}

.tesTextContent2 {
    width: 70%;
    height: 616px;
    padding: 5rem;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(253, 253, 253, 0));
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto;
    color: $fontLight;

    h1 {
        width: 300px;
        font-family: 'Square Peg', cursive;
    }

    p {
        width: 300px;
    }
}

.tesTextFrame {
    border: 1px solid $fontLight;
    border-radius: 5px;
    padding: 1rem;
    max-height: auto;
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tesTextFrameRight {
    height: 456px;
}

.tesTextAnime1,
.tesTextAnime2 {
    transform: translateY(80px);
    opacity: 0;
}

.tesTextAnimeInit {
    animation: tesInit 1s ease-in-out;
}

@keyframes tesInit {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 992px) {

    .tesTextContent2 {
        width: 100%;
        padding: 0rem;
        background-image: radial-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.651));
        align-items: center;
        justify-content: center;
        margin-left: unset;
    }

    .tesTextContent1,
    .tesTextContent3 {
        width: 100%;
        padding: 0rem;
        background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.651));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tesTextFrame {
        background-color: rgba(0, 0, 0, 0.808);
    }

    .tesText1Background2 {
        left: -220px;
    }
}

/* ----------- PACKAGES PAGE ----------- */

.pacContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 900px;
    background-color: rgb(255, 240, 240);
    position: relative;

    h2 {
        z-index: 10;
        color: $fontLight;
        margin-left: 2rem;
    }
}

.pacText {
    z-index: 10;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    width: 600px;

    div {
        padding: 1rem;
        color: $fontLight;
    }
}

.pacBackgroundContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.pacBackground {
    position: relative;

    div {
        position: absolute;
    }
}

.pacGradient {
    position: absolute;
    background-image: linear-gradient(to right, rgba(199, 26, 161, 0.322), rgba(43, 135, 177, 0.596));
    width: 100%;
    left: 0;
    height: 900px;
    z-index: 10;
}

@media screen and (max-width: 700px) {

    .pacText {
        width: 400px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .pacGradient {
        height: 100%;
    }

    .pacBackgroundContainer {

        img {
            width: unset;
            height: 1025px;
        }
    }
}

/* ---------- CONTACAT PAGE ----------- */

.conContainer {
    display: flex;
    justify-content: space-around;
}

.conLogo {
    img {
        width: 350px;
        margin-top: 4rem;
    }
}

.conAddress {
    line-height: 12px;
    border: solid 1px $fontDark;
    padding: 1rem;
    border-radius: 5px;
    width: 245px;
}

.conSocialMedia {
    padding-top: 2rem;
}

.conModalContainer {
    z-index: 200;
    position: fixed;
    top: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.conModalContainerShow {
    opacity: 1;
    pointer-events: unset;
}

.conInfo {
    margin-top: 4rem;
}

.conMap {

    position: absolute;
    margin-top: 600px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;

    iframe {
        width: 1600px;
        height: 650px;
        border: solid 5px $fontLight;
        border-radius: 5px;
    }
}

.conMapShow {
    opacity: 1;
    pointer-events: unset;
}

@media screen and (max-width: 1620px) {

    .conMap {
    
        iframe {
            width: 1200px;
        }
    }
}

@media screen and (max-width: 1220px) {

    .conMap {
    
        iframe {
            width: 900px;
        }
    }
}

@media screen and (max-width: 920px) {

    .conMap {
    
        iframe {
            width: 400px;
        }
    }
}

.conModalShadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.801);
}

.conBackground {
    background-image: url('/images/contact/contact_background.jpg');
    width: 100%;
    height: 1320px;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: center;
    position: absolute;
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    width: 700px;
    z-index: 1;
  
    label {
      margin-top: 1rem;
      color: $fontLight;
    }
  
    input {
      padding: 0.5rem;
      outline: none;
      border: solid 1px $fontLight;
      background-color: $formBackground;
      color: $fontDark;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
      border-radius: 5px;
    }
  
    textarea {
      height: 300px;
      outline: none;
      border: solid 1px $fontLight;
      background-color: $formBackground;
      color: $fontDark;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
      padding: 1rem;
      border-radius: 5px;
    }
  
    button {
      width: 100px;
      margin-top: 2rem;
    }
  }

  #btnContact {
      border: solid 1px $fontDark;
  }

  @media screen and (max-width: 1205px) {

    .conBackground {
        background-repeat: no-repeat;
        background-attachment: unset;
        background-position: left;
        position: absolute;
    }

    .conInfo {

        padding-top: 2rem;
        margin: auto;
    }

    form {
        width: 80%;
    }

    .conLogo {
        display: none;
    }
  }

  @media screen and (max-width: 650px) {

    .conMap {
        iframe {
            width: 300px;
        }
    }

  }