::before,
::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* $bodyBackground: rgb(241, 238, 227); */
body {
  background-color: #f3f2f0;
  height: 100vh;
  overflow-x: hidden;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

/* ----------- NAVIGATION ----------- */
nav {
  margin: auto;
  width: 50%;
  margin-top: 1rem;
  position: relative;
  z-index: 100;
}

nav ul {
  width: 100%;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #636363;
}

nav a:hover {
  text-decoration: underline;
  color: #636363;
}

.navBtn {
  display: none;
}

@media screen and (max-width: 1205px) {
  .navBtn {
    display: block;
    position: fixed;
    right: 1rem;
    top: 1rem;
    background-color: rgba(243, 242, 240, 0.096);
    cursor: pointer;
    z-index: 10;
  }
  .navBtn div {
    width: 40px;
    height: 4px;
    background-color: #cacaca;
    margin: 0.3rem;
    border-radius: 2px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 15;
  }
  nav {
    margin: unset;
    width: unset;
    margin-top: 0;
  }
  nav ul {
    width: unset;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(49, 49, 49, 0.856);
    width: 60%;
    height: 80%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  nav li {
    list-style: none;
    line-height: 5rem;
  }
  nav a {
    text-decoration: none;
    color: lightgray;
  }
  nav a:hover {
    text-decoration: underline;
    color: lightgray;
  }
}

.navToggle {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navBtnColorToggle div {
  background-color: lightgray;
}

/* ----------- FOOTER ----------- */
footer {
  min-height: 300px;
  width: 100%;
  background-color: lightgray;
  line-height: 0.5;
}

/* ----------- HOME PAGE ----------- */
.homeFrontImage {
  width: 80%;
  margin: auto;
}

.homeFrontImage img {
  width: 100%;
}

.homeFrontImageBottom {
  width: 80%;
  margin: auto;
}

.homeFrontImageBottom img {
  width: 100%;
}

.homeGalleryContainer {
  width: 80%;
}

.homeGalleryContainer img {
  width: 100%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.homeGalleryContainer img:hover {
  -webkit-filter: contrast(1.5) saturate(1.5) drop-shadow(0px 0px 20px #aa9865);
          filter: contrast(1.5) saturate(1.5) drop-shadow(0px 0px 20px #aa9865);
}

/* ----------- GALLERY PAGE ----------- */
.galleryGrid {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  width: 65%;
  margin: auto;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.galleryGrid img {
  height: 100%;
  width: 100%;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

.galleryGrid img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.galleryGrid a {
  overflow: hidden;
}

.galleryDiv1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
}

.galleryDiv2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 3 / 5;
}

.galleryDiv3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 5 / 3;
}

.galleryDiv4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / 5 / 5;
}

.galleryDiv5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 1 / 5 / 5 / 7;
}

.galleryDiv6 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5 / 1 / 9 / 3;
}

.galleryDiv7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 5 / 3 / 7 / 5;
}

.galleryDiv8 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 7 / 3 / 9 / 5;
}

.galleryDiv9 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 5 / 5 / 7 / 7;
}

.galleryDiv10 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 7 / 5 / 9 / 7;
}

.galleryDiv11 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 9 / 1 / 11 / 3;
}

.galleryDiv12 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 11 / 1 / 13 / 3;
}

.galleryDiv13 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 9 / 3 / 11 / 5;
}

.galleryDiv14 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 11 / 3 / 13 / 5;
}

.galleryDiv15 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 9 / 5 / 13 / 7;
}

@media screen and (max-width: 992px) {
  .galleryGrid {
    width: 95%;
  }
}

/* ----------- TESTIMONIALS PAGE ----------- */
.tesText1,
.tesText2,
.tesText3 {
  position: relative;
  height: 100%;
}

.tesText2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.tesText1Background,
.tesText1Background3 {
  position: absolute;
  z-index: -1;
  right: 0;
}

.tesText1Background2 {
  position: absolute;
  z-index: -1;
  left: 0;
}

.tesTextContent1,
.tesTextContent3 {
  width: 70%;
  height: 616px;
  padding: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(34, 51, 68, 0)));
  background-image: linear-gradient(to right, black, rgba(34, 51, 68, 0));
  color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tesTextContent1 h4,
.tesTextContent3 h4 {
  width: 300px;
}

.tesTextContent1 p,
.tesTextContent3 p {
  width: 300px;
}

.tesTextContent2 {
  width: 70%;
  height: 616px;
  padding: 5rem;
  background-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(253, 253, 253, 0)));
  background-image: linear-gradient(to left, black, rgba(253, 253, 253, 0));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  color: lightgray;
}

.tesTextContent2 h4 {
  width: 300px;
}

.tesTextContent2 p {
  width: 300px;
}

.tesTextFrame {
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 1rem;
  max-height: 370px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.tesTextAnime1,
.tesTextAnime2 {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
}

.tesTextAnimeInit {
  -webkit-animation: tesInit 1s ease-in-out;
          animation: tesInit 1s ease-in-out;
}

@-webkit-keyframes tesInit {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes tesInit {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 992px) {
  .tesTextContent2 {
    width: 100%;
    padding: 0rem;
    background-image: radial-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.651));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: unset;
  }
  .tesTextContent1,
  .tesTextContent3 {
    width: 100%;
    padding: 0rem;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.651));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tesTextFrame {
    background-color: rgba(0, 0, 0, 0.808);
  }
  .tesText1Background2 {
    left: -220px;
  }
}

/* ----------- PACKAGES PAGE ----------- */
.pacContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 900px;
  background-color: rgba(0, 255, 255, 0.164);
}

.pacText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pacText div {
  border: solid 2px #636363;
  padding: 1rem;
  border-radius: 15px;
  width: 16%;
  margin: 1rem;
  /* background-color: rgba(211, 211, 211, 0.911); */
}

.pacBackground {
  position: absolute;
  z-index: -10;
}
/*# sourceMappingURL=style.css.map */